body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 50px 50px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 50px auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 85vh;
}

.user-message {
    background-color: #cceeff;
    border-radius: 8px;
    padding: 10px;
    margin-right: 50%;
    margin-bottom: 5px;
}

.bot-message {
    background-color: #ffffcc;
    border-radius: 8px;
    padding: 10px;
    margin-left: 50%;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

::placeholder {
    color: #ccc;
}